@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700');

body {
	background: url("img/background.jpg");
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

.header {
	background: url("img/background.jpg");
	padding: 15px;
}

.title {
	text-align: center;
}

.title a {
	text-decoration: none;
	color: #000;
}

.top-nav__menu {
	list-style-type: none;
}

.top-nav__menu li {
	display: inline;
	margin-right: 45px;
	border: 1px solid #000;
	padding: 3px;
	background: #F4A743;
	border-radius: 2px;
	font-size: 20px;
}

.top-nav__menu li a {
	text-decoration: none;
	color: #000;
}

.description p {
	font-size: 30px;
	text-align: center;
	background: #F4A743;
	border-radius: 3px;
	padding: 10px;
}

.description p a {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

.footer {
	position: absolute;
	bottom: 0;
	background: #F4A743;
	width: 100%;
	text-align: center;
}

.rules {
	background: #F4A743;
	padding: 15px;
}

.lections {
	background: #F4A743;
	border-radius: 5px;
	width: 248px;
	padding: 3px;
}

.lections a {
	text-decoration: none;
	color: #000;
}

.lection {
	background: #F4A743;
	padding: 5px;
	border-radius: 5px;
}